{% extends 'user/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
  
  <div class="card mx-auto bg-white" style="width:360px;">
    <div class="card-body">
      <h2>Request Password Reset</h2><hr />

      
      {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}

      <form class="form" method='POST'>
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            {{field.label_tag }}
            {% render_field field class="form-control" %}  
            <small class="text-info mt-3">{{ field.help_text }}</small>
            <small class="text-danger mt-3">{{ field.errors }}</small>
          </div>
        {% endfor %}
        <div class="mb-3">
          <button class='btn btn-outline-primary form-control' type="submit">Request Password Reset</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
  